{% extends 'webapp/navbar.html' %}
{% block content %}
{% load static %}


<div class="container">
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
				<div class="d-flex flex-column">
					<img class="img-fluid rounded w-75 align-self-end" src="{% static 'assets/imgs/logo.jpg' %}" alt="logo">

				</div>
			</div>
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
				<h1 class="mb-4">Welcome to Recipe Sharing Platform</h1>
				<p>A simple system to add, share, and manage your recipes.</p>
				<p><i class="far fa-check-circle text-primary me-3"></i>
                    <a href="{% url 'recipes' %}">Browse Recipes</a></p>
                 
                 <p><i class="far fa-check-circle text-primary me-3"></i>
                    <a href="{% url 'add_recipe' %}">Add Recipes</a></p>
                 
                 <p><i class="far fa-check-circle text-primary me-3"></i>
                    <a href="{% url 'recipes' %}">Update Recipes</a></p>
                 
                 <p><i class="far fa-check-circle text-primary me-3"></i>
                    <a href="{% url 'recipes' %}">Delete Recipes</a></p>
       
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}
